In [1]:
import sqlalchemy
sqlalchemy.__version__

'1.0.9'

In [2]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///:memory:', echo=True)

In [3]:
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
metadata = MetaData()
users = Table('users', metadata, 
             Column('id', Integer, primary_key=True),
             Column('name', String),
             Column('fullname', String))
addresses = Table('addresses', metadata,
                 Column('id', Integer, primary_key=True),
                 Column('user_id', None, ForeignKey('users.id')),
                 Column('email_address', String, nullable=False))

In [4]:
metadata.create_all(engine)

2015-12-15 14:57:29,839 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

2015-12-15 14:57:29,840 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2015-12-15 14:57:29,841 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1

2015-12-15 14:57:29,842 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2015-12-15 14:57:29,843 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("addresses")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("addresses")

2015-12-15 14:57:29,843 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2015-12-15 14:57:29,844 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("users")

2015-12-15 14:57:29,845 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2015-12-15 14:57:29,846 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	PRIMARY KEY (id)
)

INFO:sqlalchemy.engine.base.Engine:
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	PRIMARY KEY (id)
)

2015-12-15 14:57:29,847 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2015-12-15 14:57:29,848 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

2015-12-15 14:57:29,848 INFO sqlalchemy.engine.base.Engine
CREATE TABLE addresses (
	id INTEGER NOT NULL,
	user_id INTEGER,
	email_address VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)

INFO:sqlalchemy.engine.base.Engine:
CREATE TABLE addresses (
	id INTEGER NOT NULL,
	user_id INTEGER,
	email_address VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)

2015-12-15 14:57:29,849 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2015-12-15 14:57:29,850 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [5]:
ins=users.insert()

In [6]:
str(ins)

'INSERT INTO users (id, name, fullname) VALUES (:id, :name, :fullname)'

In [7]:
ins = users.insert().values(name='jack', fullname='Jack Jones')
str(ins)

'INSERT INTO users (name, fullname) VALUES (:name, :fullname)'

In [8]:
ins.compile().params

{'fullname': 'Jack Jones', 'name': 'jack'}

In [9]:
conn = engine.connect()
conn

In [10]:
result=conn.execute(ins)

2015-12-15 14:57:31,015 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO users (name, fullname) VALUES (?, ?)

2015-12-15 14:57:31,015 INFO sqlalchemy.engine.base.Engine ('jack', 'Jack Jones')

INFO:sqlalchemy.engine.base.Engine:('jack', 'Jack Jones')

2015-12-15 14:57:31,016 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [11]:
ins.bind=engine
str(ins)

'INSERT INTO users (name, fullname) VALUES (?, ?)'

In [12]:
result.inserted_primary_key

[1]

In [13]:
ins = users.insert()
conn.execute(ins, id=2, name='wendy', fullname='Wendy Williams')

2015-12-15 14:57:31,697 INFO sqlalchemy.engine.base.Engine INSERT INTO users (id, name, fullname) VALUES (?, ?, ?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO users (id, name, fullname) VALUES (?, ?, ?)

2015-12-15 14:57:31,698 INFO sqlalchemy.engine.base.Engine (2, 'wendy', 'Wendy Williams')

INFO:sqlalchemy.engine.base.Engine:(2, 'wendy', 'Wendy Williams')

2015-12-15 14:57:31,699 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [14]:
conn.execute(addresses.insert(), [
        {'user_id' : 1, 'email_address' : 'jack@yahoo.com'},
        {'user_id' : 1, 'email_address' : 'jack@msn.com'},
        {'user_id' : 2, 'email_address' : 'www@www.org'},
        {'user_id' : 2, 'email_address' : 'wendy@aol.com'},
    ])

2015-12-15 14:57:31,925 INFO sqlalchemy.engine.base.Engine INSERT INTO addresses (user_id, email_address) VALUES (?, ?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO addresses (user_id, email_address) VALUES (?, ?)

2015-12-15 14:57:31,926 INFO sqlalchemy.engine.base.Engine ((1, 'jack@yahoo.com'), (1, 'jack@msn.com'), (2, 'www@www.org'), (2, 'wendy@aol.com'))

INFO:sqlalchemy.engine.base.Engine:((1, 'jack@yahoo.com'), (1, 'jack@msn.com'), (2, 'www@www.org'), (2, 'wendy@aol.com'))

2015-12-15 14:57:31,926 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [15]:
# Selecting

In [16]:
from sqlalchemy.sql import select
s = select([users])
result = conn.execute(s)

2015-12-15 14:57:32,588 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users

INFO:sqlalchemy.engine.base.Engine:SELECT users.id, users.name, users.fullname
FROM users

2015-12-15 14:57:32,588 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

In [17]:
for row in result:
    print (row)

(1, 'jack', 'Jack Jones')
(2, 'wendy', 'Wendy Williams')

In [18]:
result = conn.execute(s)
row = result.fetchone()
print("name:", row['name'], "; fullname:", row['fullname'])

2015-12-15 14:57:33,024 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users

INFO:sqlalchemy.engine.base.Engine:SELECT users.id, users.name, users.fullname
FROM users

2015-12-15 14:57:33,025 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

name: jack ; fullname: Jack Jones

In [19]:
row = result.fetchone()
print("name:", row[1], "; fullname:", row[2])

name: wendy ; fullname: Wendy Williams

In [20]:
for row in conn.execute(s):
    print( "name:", row[users.c.name], "; fullname:", row[users.c.fullname])

2015-12-15 14:57:33,486 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users

INFO:sqlalchemy.engine.base.Engine:SELECT users.id, users.name, users.fullname
FROM users

2015-12-15 14:57:33,486 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

name: jack ; fullname: Jack Jones
name: wendy ; fullname: Wendy Williams

In [21]:
result.close()

In [22]:
s=select([users.c.name, users.c.fullname])
result=conn.execute(s)
for row in result:
    print(row)

2015-12-15 14:57:34,231 INFO sqlalchemy.engine.base.Engine SELECT users.name, users.fullname
FROM users

INFO:sqlalchemy.engine.base.Engine:SELECT users.name, users.fullname
FROM users

2015-12-15 14:57:34,232 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

('jack', 'Jack Jones')
('wendy', 'Wendy Williams')

In [23]:
for row in conn.execute(select([users, addresses])):
    print(row)

2015-12-15 14:57:34,469 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname, addresses.id, addresses.user_id, addresses.email_address
FROM users, addresses

INFO:sqlalchemy.engine.base.Engine:SELECT users.id, users.name, users.fullname, addresses.id, addresses.user_id, addresses.email_address
FROM users, addresses

2015-12-15 14:57:34,469 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

(1, 'jack', 'Jack Jones', 1, 1, 'jack@yahoo.com')
(1, 'jack', 'Jack Jones', 2, 1, 'jack@msn.com')
(1, 'jack', 'Jack Jones', 3, 2, 'www@www.org')
(1, 'jack', 'Jack Jones', 4, 2, 'wendy@aol.com')
(2, 'wendy', 'Wendy Williams', 1, 1, 'jack@yahoo.com')
(2, 'wendy', 'Wendy Williams', 2, 1, 'jack@msn.com')
(2, 'wendy', 'Wendy Williams', 3, 2, 'www@www.org')
(2, 'wendy', 'Wendy Williams', 4, 2, 'wendy@aol.com')

In [24]:
s=select([users, addresses]).where(users.c.id == addresses.c.user_id)
for row in conn.execute(s):
    print(row)

2015-12-15 14:57:34,736 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname, addresses.id, addresses.user_id, addresses.email_address
FROM users, addresses
WHERE users.id = addresses.user_id

INFO:sqlalchemy.engine.base.Engine:SELECT users.id, users.name, users.fullname, addresses.id, addresses.user_id, addresses.email_address
FROM users, addresses
WHERE users.id = addresses.user_id

2015-12-15 14:57:34,737 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

(1, 'jack', 'Jack Jones', 1, 1, 'jack@yahoo.com')
(1, 'jack', 'Jack Jones', 2, 1, 'jack@msn.com')
(2, 'wendy', 'Wendy Williams', 3, 2, 'www@www.org')
(2, 'wendy', 'Wendy Williams', 4, 2, 'wendy@aol.com')

In [25]:
#Operators

In [26]:
print(users.c.id == addresses.c.user_id)

users.id = addresses.user_id

In [27]:
print(users.c.id ==7)

users.id = :id_1

In [28]:
(users.c.id ==7).compile().params

{'id_1': 7}

In [29]:
print(users.c.id !=7)

users.id != :id_1

In [30]:
print(users.c.name == None)

users.name IS NULL

In [31]:
print( 'fred' > users.c.name)

users.name < :name_1

In [32]:
print(users.c.id + addresses.c.id)

users.id + addresses.id

In [33]:
print(users.c.name+users.c.fullname)

users.name || users.fullname

In [34]:
print(users.c.name.op('tiddlywinks')('foo'))

users.name tiddlywinks :name_1

In [35]:
print(users.c.name.op('&')(0xff))

users.name & :name_1

In [36]:
#Conjunctions

In [37]:
from sqlalchemy.sql import and_, or_, not_
print( and_(
        users.c.name.like('j%'),
        users.c.id == addresses.c.user_id,
        or_(
            addresses.c.email_address =='wendy@aol.com',
            addresses.c.email_address =='jack@yahoo.com'
        ),
        not_(users.c.id>5)
))

users.name LIKE :name_1 AND users.id = addresses.user_id AND (addresses.email_address = :email_address_1 OR addresses.email_address = :email_address_2) AND users.id <= :id_1

In [38]:
print ((users.c.name.like('j%') & (users.c.id == addresses.c.user_id) & \
    (
        (addresses.c.email_address == 'wendy@aol.com') | \
        (addresses.c.email_address == 'jack@yahoo.com')
    ) \
    & ~(users.c.id>5)))

users.name LIKE :name_1 AND users.id = addresses.user_id AND (addresses.email_address = :email_address_1 OR addresses.email_address = :email_address_2) AND users.id <= :id_1

In [39]:
s = select([(users.c.fullname +
            ", " + addresses.c.email_address).
            label('title')]).\
        where(
            and_(
                users.c.id == addresses.c.user_id,
                users.c.name.between('m','z'),
                or_(
                    addresses.c.email_address.like('%@aol.com'),
                    addresses.c.email_address.like('%@msn.com')
                )
            )
        )
conn.execute(s).fetchall()

2015-12-15 14:57:38,360 INFO sqlalchemy.engine.base.Engine SELECT users.fullname || ? || addresses.email_address AS title
FROM users, addresses
WHERE users.id = addresses.user_id AND users.name BETWEEN ? AND ? AND (addresses.email_address LIKE ? OR addresses.email_address LIKE ?)

INFO:sqlalchemy.engine.base.Engine:SELECT users.fullname || ? || addresses.email_address AS title
FROM users, addresses
WHERE users.id = addresses.user_id AND users.name BETWEEN ? AND ? AND (addresses.email_address LIKE ? OR addresses.email_address LIKE ?)

2015-12-15 14:57:38,361 INFO sqlalchemy.engine.base.Engine (', ', 'm', 'z', '%@aol.com', '%@msn.com')

INFO:sqlalchemy.engine.base.Engine:(', ', 'm', 'z', '%@aol.com', '%@msn.com')

[('Wendy Williams, wendy@aol.com',)]

In [40]:
from sqlalchemy.sql import text
s = text(
    "SELECT users.fullname || ', ' || addresses.email_address AS title "
        "FROM users, addresses "
        "WHERE users.id = addresses.user_id "
        "AND users.name BETWEEN :x AND :y "
        "AND (addresses.email_address LIKE :e1 "
            "OR addresses.email_address LIKE :e2)")
conn.execute(s, x='m', y='z', e1='%@aol.com', e2='%@msn.com').fetchall()

2015-12-15 14:57:38,557 INFO sqlalchemy.engine.base.Engine SELECT users.fullname || ', ' || addresses.email_address AS title FROM users, addresses WHERE users.id = addresses.user_id AND users.name BETWEEN ? AND ? AND (addresses.email_address LIKE ? OR addresses.email_address LIKE ?)

INFO:sqlalchemy.engine.base.Engine:SELECT users.fullname || ', ' || addresses.email_address AS title FROM users, addresses WHERE users.id = addresses.user_id AND users.name BETWEEN ? AND ? AND (addresses.email_address LIKE ? OR addresses.email_address LIKE ?)

2015-12-15 14:57:38,559 INFO sqlalchemy.engine.base.Engine ('m', 'z', '%@aol.com', '%@msn.com')

INFO:sqlalchemy.engine.base.Engine:('m', 'z', '%@aol.com', '%@msn.com')

[('Wendy Williams, wendy@aol.com',)]

In [41]:
s = text(
    "SELECT users.fullname || ', ' || addresses.email_address AS title "
        "FROM users, addresses "
        "WHERE users.id = addresses.user_id "
        "AND users.name BETWEEN :x AND :y "
        "AND (addresses.email_address LIKE :e1 "
            "OR addresses.email_address LIKE :e2)")
s = s.columns(title=String)
s = s.bindparams(x='m', y='z', e1='%@aol.com', e2='%@msn.com')
conn.execute(s).fetchall()

2015-12-15 14:57:38,783 INFO sqlalchemy.engine.base.Engine SELECT users.fullname || ', ' || addresses.email_address AS title FROM users, addresses WHERE users.id = addresses.user_id AND users.name BETWEEN ? AND ? AND (addresses.email_address LIKE ? OR addresses.email_address LIKE ?)

INFO:sqlalchemy.engine.base.Engine:SELECT users.fullname || ', ' || addresses.email_address AS title FROM users, addresses WHERE users.id = addresses.user_id AND users.name BETWEEN ? AND ? AND (addresses.email_address LIKE ? OR addresses.email_address LIKE ?)

2015-12-15 14:57:38,785 INFO sqlalchemy.engine.base.Engine ('m', 'z', '%@aol.com', '%@msn.com')

INFO:sqlalchemy.engine.base.Engine:('m', 'z', '%@aol.com', '%@msn.com')

[('Wendy Williams, wendy@aol.com',)]

In [42]:
s = select([
        text("users.fullname || ', ' || addresses.email_address AS title")
    ]).\
        where(
            and_(
                text("users.id = addresses.user_id"),
                text("users.name BETWEEN 'm' and 'z'"),
                text(
                    "(addresses.email_address LIKE :x "
                    "OR addresses.email_address LIKE :y)")
            )
        ).select_from(text('users, addresses'))
conn.execute(s, x='%@aol.com', y='%@msn.com').fetchall()

2015-12-15 14:57:39,017 INFO sqlalchemy.engine.base.Engine SELECT users.fullname || ', ' || addresses.email_address AS title
FROM users, addresses
WHERE users.id = addresses.user_id AND users.name BETWEEN 'm' and 'z' AND (addresses.email_address LIKE ? OR addresses.email_address LIKE ?)

INFO:sqlalchemy.engine.base.Engine:SELECT users.fullname || ', ' || addresses.email_address AS title
FROM users, addresses
WHERE users.id = addresses.user_id AND users.name BETWEEN 'm' and 'z' AND (addresses.email_address LIKE ? OR addresses.email_address LIKE ?)

2015-12-15 14:57:39,018 INFO sqlalchemy.engine.base.Engine ('%@aol.com', '%@msn.com')

INFO:sqlalchemy.engine.base.Engine:('%@aol.com', '%@msn.com')

[('Wendy Williams, wendy@aol.com',)]

In [43]:
#Using More Specific Text with ...

In [44]:
from sqlalchemy import select, and_, text, String
from sqlalchemy.sql import table, literal_column
s = select([
        literal_column("users.fullname", String) +
        ' , ' +
        literal_column("addresses.email_address").label("title")
    ]).\
        where(
            and_(
                literal_column("users.id") == literal_column("addresses.user_id"),
                text("users.name BETWEEN 'm' AND 'z'"),
                text(
                    "(addresses.email_address LIKE :x OR "
                    "addresses.email_address LIKE :y)")
            )
        ).select_from(table('users')).select_from(table('addresses'))
conn.execute(s, x='%@aol.com', y='%@msn.com').fetchall()

2015-12-15 14:57:39,523 INFO sqlalchemy.engine.base.Engine SELECT users.fullname || ? || addresses.email_address AS anon_1
FROM users, addresses
WHERE users.id = addresses.user_id AND users.name BETWEEN 'm' AND 'z' AND (addresses.email_address LIKE ? OR addresses.email_address LIKE ?)

INFO:sqlalchemy.engine.base.Engine:SELECT users.fullname || ? || addresses.email_address AS anon_1
FROM users, addresses
WHERE users.id = addresses.user_id AND users.name BETWEEN 'm' AND 'z' AND (addresses.email_address LIKE ? OR addresses.email_address LIKE ?)

2015-12-15 14:57:39,523 INFO sqlalchemy.engine.base.Engine (' , ', '%@aol.com', '%@msn.com')

INFO:sqlalchemy.engine.base.Engine:(' , ', '%@aol.com', '%@msn.com')

[('Wendy Williams , wendy@aol.com',)]

In [45]:
# Ordering or Grouping by a Label

In [46]:
from sqlalchemy import func
stmt = select([
        addresses.c.user_id,
        func.count(addresses.c.id).label('num_addresses')]).\
        order_by("num_addresses")
conn.execute(stmt).fetchall()

2015-12-15 14:57:39,959 INFO sqlalchemy.engine.base.Engine SELECT addresses.user_id, count(addresses.id) AS num_addresses
FROM addresses ORDER BY num_addresses

INFO:sqlalchemy.engine.base.Engine:SELECT addresses.user_id, count(addresses.id) AS num_addresses
FROM addresses ORDER BY num_addresses

2015-12-15 14:57:39,961 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

[(2, 4)]

In [47]:
from sqlalchemy import func, desc
stmt = select([
        addresses.c.user_id,
        func.count(addresses.c.id).label('num_addresses')]).\
        order_by(desc("num_addresses"))
conn.execute(stmt).fetchall()

2015-12-15 14:57:40,209 INFO sqlalchemy.engine.base.Engine SELECT addresses.user_id, count(addresses.id) AS num_addresses
FROM addresses ORDER BY num_addresses DESC

INFO:sqlalchemy.engine.base.Engine:SELECT addresses.user_id, count(addresses.id) AS num_addresses
FROM addresses ORDER BY num_addresses DESC

2015-12-15 14:57:40,210 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

[(2, 4)]

In [48]:
u1a, u1b = users.alias(), users.alias()
stmt = select([u1a, u1b]).\
        where(u1a.c.name > u1b.c.name).\
        order_by(u1a.c.name) # using "name" here would be ambiguous
conn.execute(stmt).fetchall()

2015-12-15 14:57:40,447 INFO sqlalchemy.engine.base.Engine SELECT users_1.id, users_1.name, users_1.fullname, users_2.id, users_2.name, users_2.fullname
FROM users AS users_1, users AS users_2
WHERE users_1.name > users_2.name ORDER BY users_1.name

INFO:sqlalchemy.engine.base.Engine:SELECT users_1.id, users_1.name, users_1.fullname, users_2.id, users_2.name, users_2.fullname
FROM users AS users_1, users AS users_2
WHERE users_1.name > users_2.name ORDER BY users_1.name

2015-12-15 14:57:40,448 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

[(2, 'wendy', 'Wendy Williams', 1, 'jack', 'Jack Jones')]

In [49]:
# Using Aliases

In [50]:
a1 = addresses.alias()
a2 = addresses.alias()
s = select([users]).\
    where(and_(
        users.c.id == a1.c.user_id,
        users.c.id == a2.c.user_id,
        a1.c.email_address == 'jack@msn.com',
        a2.c.email_address == 'jack@yahoo.com'
    ))
conn.execute(s).fetchall()

2015-12-15 14:57:40,902 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users, addresses AS addresses_1, addresses AS addresses_2
WHERE users.id = addresses_1.user_id AND users.id = addresses_2.user_id AND addresses_1.email_address = ? AND addresses_2.email_address = ?

INFO:sqlalchemy.engine.base.Engine:SELECT users.id, users.name, users.fullname
FROM users, addresses AS addresses_1, addresses AS addresses_2
WHERE users.id = addresses_1.user_id AND users.id = addresses_2.user_id AND addresses_1.email_address = ? AND addresses_2.email_address = ?

2015-12-15 14:57:40,903 INFO sqlalchemy.engine.base.Engine ('jack@msn.com', 'jack@yahoo.com')

INFO:sqlalchemy.engine.base.Engine:('jack@msn.com', 'jack@yahoo.com')

[(1, 'jack', 'Jack Jones')]

In [51]:
# pass specified name for alias in SQL statement:
a1 = addresses.alias('a1')

In [52]:
a1 = s.correlate(None).alias()
s = select([users.c.name]).where(users.c.id == a1.c.id)
conn.execute(s).fetchall()

2015-12-15 14:57:41,384 INFO sqlalchemy.engine.base.Engine SELECT users.name
FROM users, (SELECT users.id AS id, users.name AS name, users.fullname AS fullname
FROM users, addresses AS addresses_1, addresses AS addresses_2
WHERE users.id = addresses_1.user_id AND users.id = addresses_2.user_id AND addresses_1.email_address = ? AND addresses_2.email_address = ?) AS anon_1
WHERE users.id = anon_1.id

INFO:sqlalchemy.engine.base.Engine:SELECT users.name
FROM users, (SELECT users.id AS id, users.name AS name, users.fullname AS fullname
FROM users, addresses AS addresses_1, addresses AS addresses_2
WHERE users.id = addresses_1.user_id AND users.id = addresses_2.user_id AND addresses_1.email_address = ? AND addresses_2.email_address = ?) AS anon_1
WHERE users.id = anon_1.id

2015-12-15 14:57:41,385 INFO sqlalchemy.engine.base.Engine ('jack@msn.com', 'jack@yahoo.com')

INFO:sqlalchemy.engine.base.Engine:('jack@msn.com', 'jack@yahoo.com')

[('jack',)]

In [53]:
# Using Joins

In [54]:
print(users.join(addresses))
# ON condition of join automatically generated based on ForeignKey object in addresses table

users JOIN addresses ON users.id = addresses.user_id

In [55]:
print(users.join(addresses, addresses.c.email_address.like(users.c.name + '%')))

users JOIN addresses ON addresses.email_address LIKE (users.name || :name_1)

In [56]:
s = select([users.c.fullname]).select_from(
    users.join(addresses, 
              addresses.c.email_address.like(users.c.name + '%'))
    )
conn.execute(s).fetchall()

2015-12-15 14:57:42,311 INFO sqlalchemy.engine.base.Engine SELECT users.fullname
FROM users JOIN addresses ON addresses.email_address LIKE (users.name || ?)

INFO:sqlalchemy.engine.base.Engine:SELECT users.fullname
FROM users JOIN addresses ON addresses.email_address LIKE (users.name || ?)

2015-12-15 14:57:42,311 INFO sqlalchemy.engine.base.Engine ('%',)

INFO:sqlalchemy.engine.base.Engine:('%',)

[('Jack Jones',), ('Jack Jones',), ('Wendy Williams',)]

In [57]:
s = select([users.c.fullname]).select_from(users.outerjoin(addresses))
print(s)

SELECT users.fullname
FROM users LEFT OUTER JOIN addresses ON users.id = addresses.user_id

In [58]:
conn.execute(s).fetchall()

2015-12-15 14:57:42,811 INFO sqlalchemy.engine.base.Engine SELECT users.fullname
FROM users LEFT OUTER JOIN addresses ON users.id = addresses.user_id

INFO:sqlalchemy.engine.base.Engine:SELECT users.fullname
FROM users LEFT OUTER JOIN addresses ON users.id = addresses.user_id

2015-12-15 14:57:42,812 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

[('Jack Jones',), ('Jack Jones',), ('Wendy Williams',), ('Wendy Williams',)]

In [59]:
# Everythin Else
## Bind Parameter Objects
from sqlalchemy.sql import bindparam
s = users.select(users.c.name == bindparam('username'))
conn.execute(s, username='wendy').fetchall()

2015-12-15 14:57:43,041 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
WHERE users.name = ?

INFO:sqlalchemy.engine.base.Engine:SELECT users.id, users.name, users.fullname
FROM users
WHERE users.name = ?

2015-12-15 14:57:43,042 INFO sqlalchemy.engine.base.Engine ('wendy',)

INFO:sqlalchemy.engine.base.Engine:('wendy',)

[(2, 'wendy', 'Wendy Williams')]

In [60]:
conn.execute(s, username='jack').fetchall()

2015-12-15 14:57:43,257 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
WHERE users.name = ?

INFO:sqlalchemy.engine.base.Engine:SELECT users.id, users.name, users.fullname
FROM users
WHERE users.name = ?

2015-12-15 14:57:43,257 INFO sqlalchemy.engine.base.Engine ('jack',)

INFO:sqlalchemy.engine.base.Engine:('jack',)

[(1, 'jack', 'Jack Jones')]

In [61]:
s = select([users, addresses]).\
    where(
        or_(
            users.c.name.like(
                bindparam('name', type_=String) + text("'%'")),
            addresses.c.email_address.like(
                bindparam('name', type_=String) + text("'@%'"))
        )
    ).\
    select_from(users.outerjoin(addresses)).\
    order_by(addresses.c.id)
conn.execute(s, name='jack').fetchall()

2015-12-15 14:57:43,475 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname, addresses.id, addresses.user_id, addresses.email_address
FROM users LEFT OUTER JOIN addresses ON users.id = addresses.user_id
WHERE users.name LIKE (? || '%') OR addresses.email_address LIKE (? || '@%') ORDER BY addresses.id

INFO:sqlalchemy.engine.base.Engine:SELECT users.id, users.name, users.fullname, addresses.id, addresses.user_id, addresses.email_address
FROM users LEFT OUTER JOIN addresses ON users.id = addresses.user_id
WHERE users.name LIKE (? || '%') OR addresses.email_address LIKE (? || '@%') ORDER BY addresses.id

2015-12-15 14:57:43,476 INFO sqlalchemy.engine.base.Engine ('jack', 'jack')

INFO:sqlalchemy.engine.base.Engine:('jack', 'jack')

[(1, 'jack', 'Jack Jones', 1, 1, 'jack@yahoo.com'),
 (1, 'jack', 'Jack Jones', 2, 1, 'jack@msn.com')]

In [62]:
# Functions

In [63]:
from sqlalchemy.sql import func
print(func.now())
print(func.concat('x','y'))

now()
concat(:param_1, :param_2)

In [64]:
print(func.xyz_my_goofy_function())

xyz_my_goofy_function()

In [65]:
print(func.current_timestamp())

CURRENT_TIMESTAMP

In [66]:
conn.execute(
    select([
            func.max(addresses.c.email_address, type_=String).
                label('maxemail')
           ])
    ).scalar()

2015-12-15 14:57:44,647 INFO sqlalchemy.engine.base.Engine SELECT max(addresses.email_address) AS maxemail
FROM addresses

INFO:sqlalchemy.engine.base.Engine:SELECT max(addresses.email_address) AS maxemail
FROM addresses

2015-12-15 14:57:44,647 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

'www@www.org'

In [67]:
from sqlalchemy.sql import column
calculate = select([column('q'), column('z'), column('r')]).\
    select_from(
        func.calculate(
            bindparam('x'),
            bindparam('y')
        )
    )
calc = calculate.alias()
print(select([users]).where(users.c.id > calc.c.z))

SELECT users.id, users.name, users.fullname
FROM users, (SELECT q, z, r
FROM calculate(:x, :y)) AS anon_1
WHERE users.id > anon_1.z

In [68]:
calc1 = calculate.alias('c1').unique_params(x=17, y=45)
calc2 = calculate.alias('c2').unique_params(x=5, y=12)
s = select([users]).\
    where(users.c.id.between(calc1.c.z, calc2.c.z))
print(s)
s.compile().params

SELECT users.id, users.name, users.fullname
FROM users, (SELECT q, z, r
FROM calculate(:x_1, :y_1)) AS c1, (SELECT q, z, r
FROM calculate(:x_2, :y_2)) AS c2
WHERE users.id BETWEEN c1.z AND c2.z

{'x_1': 17, 'x_2': 5, 'y_1': 45, 'y_2': 12}

In [69]:
#Window Functions

In [70]:
s = select([
        users.c.id,
        func.row_number().over(order_by=users.c.name)
    ])
print(s)

SELECT users.id, row_number() OVER (ORDER BY users.name) AS anon_1
FROM users

In [71]:
#Unions and Other Set Operations

In [72]:
from sqlalchemy.sql import union
u = union(
    addresses.select().
        where(addresses.c.email_address == 'foo@bar.com'),
    addresses.select().
        where(addresses.c.email_address.like('%@yahoo.com')),
).order_by(addresses.c.email_address)
conn.execute(u).fetchall()

2015-12-15 14:57:46,354 INFO sqlalchemy.engine.base.Engine SELECT addresses.id, addresses.user_id, addresses.email_address
FROM addresses
WHERE addresses.email_address = ? UNION SELECT addresses.id, addresses.user_id, addresses.email_address
FROM addresses
WHERE addresses.email_address LIKE ? ORDER BY addresses.email_address

INFO:sqlalchemy.engine.base.Engine:SELECT addresses.id, addresses.user_id, addresses.email_address
FROM addresses
WHERE addresses.email_address = ? UNION SELECT addresses.id, addresses.user_id, addresses.email_address
FROM addresses
WHERE addresses.email_address LIKE ? ORDER BY addresses.email_address

2015-12-15 14:57:46,355 INFO sqlalchemy.engine.base.Engine ('foo@bar.com', '%@yahoo.com')

INFO:sqlalchemy.engine.base.Engine:('foo@bar.com', '%@yahoo.com')

[(1, 1, 'jack@yahoo.com')]

In [73]:
# intersect(), intersect_all(), except_(), and except_all()

In [74]:
from sqlalchemy.sql import except_
u = except_(addresses.select().where(addresses.c.email_address.like('%@%.com')),
           addresses.select().where(addresses.c.email_address.like('%@msn.com')))
conn.execute(u).fetchall()

2015-12-15 14:57:46,882 INFO sqlalchemy.engine.base.Engine SELECT addresses.id, addresses.user_id, addresses.email_address
FROM addresses
WHERE addresses.email_address LIKE ? EXCEPT SELECT addresses.id, addresses.user_id, addresses.email_address
FROM addresses
WHERE addresses.email_address LIKE ?

INFO:sqlalchemy.engine.base.Engine:SELECT addresses.id, addresses.user_id, addresses.email_address
FROM addresses
WHERE addresses.email_address LIKE ? EXCEPT SELECT addresses.id, addresses.user_id, addresses.email_address
FROM addresses
WHERE addresses.email_address LIKE ?

2015-12-15 14:57:46,882 INFO sqlalchemy.engine.base.Engine ('%@%.com', '%@msn.com')

INFO:sqlalchemy.engine.base.Engine:('%@%.com', '%@msn.com')

[(1, 1, 'jack@yahoo.com'), (4, 2, 'wendy@aol.com')]

In [75]:
u = except_(
    union(
        addresses.select().where(addresses.c.email_address.like('%@yahoo.com')),
        addresses.select().where(addresses.c.email_address.like('%@msn.com'))
         ).alias().select(),
    addresses.select(addresses.c.email_address.like('%@msn.com')))
conn.execute(u).fetchall()

2015-12-15 14:57:47,147 INFO sqlalchemy.engine.base.Engine SELECT anon_1.id, anon_1.user_id, anon_1.email_address
FROM (SELECT addresses.id AS id, addresses.user_id AS user_id, addresses.email_address AS email_address
FROM addresses
WHERE addresses.email_address LIKE ? UNION SELECT addresses.id AS id, addresses.user_id AS user_id, addresses.email_address AS email_address
FROM addresses
WHERE addresses.email_address LIKE ?) AS anon_1 EXCEPT SELECT addresses.id, addresses.user_id, addresses.email_address
FROM addresses
WHERE addresses.email_address LIKE ?

INFO:sqlalchemy.engine.base.Engine:SELECT anon_1.id, anon_1.user_id, anon_1.email_address
FROM (SELECT addresses.id AS id, addresses.user_id AS user_id, addresses.email_address AS email_address
FROM addresses
WHERE addresses.email_address LIKE ? UNION SELECT addresses.id AS id, addresses.user_id AS user_id, addresses.email_address AS email_address
FROM addresses
WHERE addresses.email_address LIKE ?) AS anon_1 EXCEPT SELECT addresses.id, addresses.user_id, addresses.email_address
FROM addresses
WHERE addresses.email_address LIKE ?

2015-12-15 14:57:47,148 INFO sqlalchemy.engine.base.Engine ('%@yahoo.com', '%@msn.com', '%@msn.com')

INFO:sqlalchemy.engine.base.Engine:('%@yahoo.com', '%@msn.com', '%@msn.com')

[(1, 1, 'jack@yahoo.com')]

In [76]:
# scalar selects

In [77]:
stmt = select([func.count(addresses.c.id)]).\
    where(users.c.id == addresses.c.user_id).\
    as_scalar()

In [78]:
conn.execute(select([users.c.name, stmt])).fetchall()

2015-12-15 14:57:47,913 INFO sqlalchemy.engine.base.Engine SELECT users.name, (SELECT count(addresses.id) AS count_1
FROM addresses
WHERE users.id = addresses.user_id) AS anon_1
FROM users

INFO:sqlalchemy.engine.base.Engine:SELECT users.name, (SELECT count(addresses.id) AS count_1
FROM addresses
WHERE users.id = addresses.user_id) AS anon_1
FROM users

2015-12-15 14:57:47,913 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

[('jack', 2), ('wendy', 2)]

In [79]:
stmt = select([func.count(addresses.c.id)]).\
    where(users.c.id == addresses.c.user_id).\
    label("address_count")
conn.execute(select([users.c.name, stmt])).fetchall()

2015-12-15 14:57:48,199 INFO sqlalchemy.engine.base.Engine SELECT users.name, (SELECT count(addresses.id) AS count_1
FROM addresses
WHERE users.id = addresses.user_id) AS address_count
FROM users

INFO:sqlalchemy.engine.base.Engine:SELECT users.name, (SELECT count(addresses.id) AS count_1
FROM addresses
WHERE users.id = addresses.user_id) AS address_count
FROM users

2015-12-15 14:57:48,200 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

[('jack', 2), ('wendy', 2)]

In [80]:
# Correlated Subqueries

In [81]:
stmt = select([addresses.c.user_id]).\
    where(addresses.c.user_id == users.c.id).\
    where(addresses.c.email_address =='jack@yahoo.com')
enclosing_stmt = select([users.c.name]).where(users.c.id ==stmt)
conn.execute(enclosing_stmt).fetchall()

2015-12-15 14:57:48,763 INFO sqlalchemy.engine.base.Engine SELECT users.name
FROM users
WHERE users.id = (SELECT addresses.user_id
FROM addresses
WHERE addresses.user_id = users.id AND addresses.email_address = ?)

INFO:sqlalchemy.engine.base.Engine:SELECT users.name
FROM users
WHERE users.id = (SELECT addresses.user_id
FROM addresses
WHERE addresses.user_id = users.id AND addresses.email_address = ?)

2015-12-15 14:57:48,764 INFO sqlalchemy.engine.base.Engine ('jack@yahoo.com',)

INFO:sqlalchemy.engine.base.Engine:('jack@yahoo.com',)

[('jack',)]

In [82]:
stmt = select([users.c.id]).\
    where(users.c.id == addresses.c.user_id).\
    where(users.c.name == 'jack').\
    correlate(addresses)
enclosing_stmt = select(
    [users.c.name, addresses.c.email_address]).\
    select_from(users.join(addresses)).\
    where(users.c.id == stmt)
conn.execute(enclosing_stmt)

2015-12-15 14:57:49,034 INFO sqlalchemy.engine.base.Engine SELECT users.name, addresses.email_address
FROM users JOIN addresses ON users.id = addresses.user_id
WHERE users.id = (SELECT users.id
FROM users
WHERE users.id = addresses.user_id AND users.name = ?)

INFO:sqlalchemy.engine.base.Engine:SELECT users.name, addresses.email_address
FROM users JOIN addresses ON users.id = addresses.user_id
WHERE users.id = (SELECT users.id
FROM users
WHERE users.id = addresses.user_id AND users.name = ?)

2015-12-15 14:57:49,037 INFO sqlalchemy.engine.base.Engine ('jack',)

INFO:sqlalchemy.engine.base.Engine:('jack',)

In [83]:
stmt = select([users.c.id]).\
    where(users.c.name =='wendy').\
    correlate(None)
enclosing_stmt = select([users.c.name]).\
    where(users.c.id == stmt)
conn.execute(enclosing_stmt).fetchall()

2015-12-15 14:57:49,316 INFO sqlalchemy.engine.base.Engine SELECT users.name
FROM users
WHERE users.id = (SELECT users.id
FROM users
WHERE users.name = ?)

INFO:sqlalchemy.engine.base.Engine:SELECT users.name
FROM users
WHERE users.id = (SELECT users.id
FROM users
WHERE users.name = ?)

2015-12-15 14:57:49,317 INFO sqlalchemy.engine.base.Engine ('wendy',)

INFO:sqlalchemy.engine.base.Engine:('wendy',)

[('wendy',)]

In [84]:
stmt = select([users.c.id]).\
    where(users.c.id == addresses.c.user_id).\
    where(users.c.name =='jack').\
    correlate_except(users)
enclosing_stmt = select(
    [users.c.name, addresses.c.email_address]).\
    select_from(users.join(addresses)).\
    where(users.c.id == stmt)
conn.execute(enclosing_stmt).fetchall()

2015-12-15 14:57:49,592 INFO sqlalchemy.engine.base.Engine SELECT users.name, addresses.email_address
FROM users JOIN addresses ON users.id = addresses.user_id
WHERE users.id = (SELECT users.id
FROM users
WHERE users.id = addresses.user_id AND users.name = ?)

INFO:sqlalchemy.engine.base.Engine:SELECT users.name, addresses.email_address
FROM users JOIN addresses ON users.id = addresses.user_id
WHERE users.id = (SELECT users.id
FROM users
WHERE users.id = addresses.user_id AND users.name = ?)

2015-12-15 14:57:49,592 INFO sqlalchemy.engine.base.Engine ('jack',)

INFO:sqlalchemy.engine.base.Engine:('jack',)

[('jack', 'jack@yahoo.com'), ('jack', 'jack@msn.com')]

In [85]:
# Ordering, Grouping, Limiting, Offsetting

In [86]:
stmt = select([users.c.name]).order_by(users.c.name)
conn.execute(stmt).fetchall()

2015-12-15 14:57:51,211 INFO sqlalchemy.engine.base.Engine SELECT users.name
FROM users ORDER BY users.name

INFO:sqlalchemy.engine.base.Engine:SELECT users.name
FROM users ORDER BY users.name

2015-12-15 14:57:51,212 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

[('jack',), ('wendy',)]

In [87]:
stmt = select([users.c.name]).order_by(users.c.name.desc())
conn.execute(stmt).fetchall()

2015-12-15 14:57:51,462 INFO sqlalchemy.engine.base.Engine SELECT users.name
FROM users ORDER BY users.name DESC

INFO:sqlalchemy.engine.base.Engine:SELECT users.name
FROM users ORDER BY users.name DESC

2015-12-15 14:57:51,463 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

[('wendy',), ('jack',)]

In [88]:
stmt = select([users.c.name, func.count(addresses.c.id)]).\
    select_from(users.join(addresses)).\
    group_by(users.c.name)
conn.execute(stmt).fetchall()

2015-12-15 14:57:51,691 INFO sqlalchemy.engine.base.Engine SELECT users.name, count(addresses.id) AS count_1
FROM users JOIN addresses ON users.id = addresses.user_id GROUP BY users.name

INFO:sqlalchemy.engine.base.Engine:SELECT users.name, count(addresses.id) AS count_1
FROM users JOIN addresses ON users.id = addresses.user_id GROUP BY users.name

2015-12-15 14:57:51,691 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

[('jack', 2), ('wendy', 2)]

In [89]:
stmt = select([users.c.name, func.count(addresses.c.id)]).\
    select_from(users.join(addresses)).\
    group_by(users.c.name).\
    having(func.length(users.c.name)>4)
conn.execute(stmt).fetchall()

2015-12-15 14:57:51,919 INFO sqlalchemy.engine.base.Engine SELECT users.name, count(addresses.id) AS count_1
FROM users JOIN addresses ON users.id = addresses.user_id GROUP BY users.name
HAVING length(users.name) > ?

INFO:sqlalchemy.engine.base.Engine:SELECT users.name, count(addresses.id) AS count_1
FROM users JOIN addresses ON users.id = addresses.user_id GROUP BY users.name
HAVING length(users.name) > ?

2015-12-15 14:57:51,920 INFO sqlalchemy.engine.base.Engine (4,)

INFO:sqlalchemy.engine.base.Engine:(4,)

[('wendy', 2)]

In [90]:
stmt = select([users.c.name]).\
    where(addresses.c.email_address.
             contains(users.c.name)).\
    distinct()
conn.execute(stmt).fetchall()

2015-12-15 14:57:52,183 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT users.name
FROM users, addresses
WHERE (addresses.email_address LIKE '%%' || users.name || '%%')

INFO:sqlalchemy.engine.base.Engine:SELECT DISTINCT users.name
FROM users, addresses
WHERE (addresses.email_address LIKE '%%' || users.name || '%%')

2015-12-15 14:57:52,183 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

[('jack',), ('wendy',)]

In [91]:
stmt = select([users.c.name, addresses.c.email_address]).\
    select_from(users.join(addresses)).\
    limit(1).offset(1)
conn.execute(stmt).fetchall()

2015-12-15 14:57:52,700 INFO sqlalchemy.engine.base.Engine SELECT users.name, addresses.email_address
FROM users JOIN addresses ON users.id = addresses.user_id
 LIMIT ? OFFSET ?

INFO:sqlalchemy.engine.base.Engine:SELECT users.name, addresses.email_address
FROM users JOIN addresses ON users.id = addresses.user_id
 LIMIT ? OFFSET ?

2015-12-15 14:57:52,700 INFO sqlalchemy.engine.base.Engine (1, 1)

INFO:sqlalchemy.engine.base.Engine:(1, 1)

[('jack', 'jack@msn.com')]

In [92]:
#Inserts, Updates and Deletes

In [93]:
stmt = users.update().\
    values(fullname="Fullname: " + users.c.name)
conn.execute(stmt)

2015-12-15 14:57:53,203 INFO sqlalchemy.engine.base.Engine UPDATE users SET fullname=(? || users.name)

INFO:sqlalchemy.engine.base.Engine:UPDATE users SET fullname=(? || users.name)

2015-12-15 14:57:53,203 INFO sqlalchemy.engine.base.Engine ('Fullname: ',)

INFO:sqlalchemy.engine.base.Engine:('Fullname: ',)

2015-12-15 14:57:53,204 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [94]:
stmt = users.insert().\
    values(name=bindparam('_name') + " : .. name")
conn.execute(stmt, [
        {'id':4, '_name':'name1'},
        {'id':5, '_name':'name2'},
        {'id':6, '_name':'name3'},
    ])

2015-12-15 14:57:53,865 INFO sqlalchemy.engine.base.Engine INSERT INTO users (id, name) VALUES (?, (? || ?))

INFO:sqlalchemy.engine.base.Engine:INSERT INTO users (id, name) VALUES (?, (? || ?))

2015-12-15 14:57:53,866 INFO sqlalchemy.engine.base.Engine ((4, 'name1', ' : .. name'), (5, 'name2', ' : .. name'), (6, 'name3', ' : .. name'))

INFO:sqlalchemy.engine.base.Engine:((4, 'name1', ' : .. name'), (5, 'name2', ' : .. name'), (6, 'name3', ' : .. name'))

2015-12-15 14:57:53,866 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [95]:
stmt = users.update().\
    where(users.c.name == 'jack').\
    values(name='ed')
conn.execute(stmt)

2015-12-15 14:57:54,116 INFO sqlalchemy.engine.base.Engine UPDATE users SET name=? WHERE users.name = ?

INFO:sqlalchemy.engine.base.Engine:UPDATE users SET name=? WHERE users.name = ?

2015-12-15 14:57:54,116 INFO sqlalchemy.engine.base.Engine ('ed', 'jack')

INFO:sqlalchemy.engine.base.Engine:('ed', 'jack')

2015-12-15 14:57:54,117 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [96]:
stmt = users.update().\
    where(users.c.name == bindparam('oldname')).\
    values(name=bindparam('newname'))
conn.execute(stmt, [
        {'oldname':'jack', 'newname':'ed'},
        {'oldname':'wendy', 'newname':'mary'},
        {'oldname':'jim', 'newname':'jake'},
    ])

2015-12-15 14:57:54,343 INFO sqlalchemy.engine.base.Engine UPDATE users SET name=? WHERE users.name = ?

INFO:sqlalchemy.engine.base.Engine:UPDATE users SET name=? WHERE users.name = ?

2015-12-15 14:57:54,344 INFO sqlalchemy.engine.base.Engine (('ed', 'jack'), ('mary', 'wendy'), ('jake', 'jim'))

INFO:sqlalchemy.engine.base.Engine:(('ed', 'jack'), ('mary', 'wendy'), ('jake', 'jim'))

2015-12-15 14:57:54,344 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [97]:
#Correlated Updates

In [98]:
stmt = select([addresses.c.email_address]).\
    where(addresses.c.user_id == users.c.id).\
    limit(1)
conn.execute(users.update().values(fullname=stmt))

2015-12-15 14:57:54,884 INFO sqlalchemy.engine.base.Engine UPDATE users SET fullname=(SELECT addresses.email_address
FROM addresses
WHERE addresses.user_id = users.id
 LIMIT ? OFFSET ?)

INFO:sqlalchemy.engine.base.Engine:UPDATE users SET fullname=(SELECT addresses.email_address
FROM addresses
WHERE addresses.user_id = users.id
 LIMIT ? OFFSET ?)

2015-12-15 14:57:54,885 INFO sqlalchemy.engine.base.Engine (1, 0)

INFO:sqlalchemy.engine.base.Engine:(1, 0)

2015-12-15 14:57:54,885 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [99]:
#Multiple Table Updates (maybe only for Postgresql, Microsoft SQL Server, and MySQL)

stmt = users.update().\
    values(name='ed wood').\
    where(users.c.id == addresses.c.id).\
    where(addresses.c.email_address.startswith('ed%'))
conn.execute(stmt)

In [100]:
# Parameter-Ordered Updates

In [101]:
#Deletes

In [102]:
conn.execute(addresses.delete())

2015-12-15 14:57:57,727 INFO sqlalchemy.engine.base.Engine DELETE FROM addresses

INFO:sqlalchemy.engine.base.Engine:DELETE FROM addresses

2015-12-15 14:57:57,727 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2015-12-15 14:57:57,728 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [103]:
conn.execute(users.delete().where(users.c.name > 'm'))

2015-12-15 14:57:58,279 INFO sqlalchemy.engine.base.Engine DELETE FROM users WHERE users.name > ?

INFO:sqlalchemy.engine.base.Engine:DELETE FROM users WHERE users.name > ?

2015-12-15 14:57:58,280 INFO sqlalchemy.engine.base.Engine ('m',)

INFO:sqlalchemy.engine.base.Engine:('m',)

2015-12-15 14:57:58,280 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [104]:
# Matched Row Counts

In [105]:
result=conn.execute(users.delete())

2015-12-15 14:57:59,727 INFO sqlalchemy.engine.base.Engine DELETE FROM users

INFO:sqlalchemy.engine.base.Engine:DELETE FROM users

2015-12-15 14:57:59,729 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2015-12-15 14:57:59,730 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [106]:
result.rowcount

1